.flag-lessons_complete a.flag-action, .flag-lessons-complete a.flag-action {
background: url(green-check-mark.png);
background-repeat: no-repeat;
background-position: right top;
padding-right: 17%;

}

.flag-lessons_complete a.flag-action:hover, .flag-lessons-complete a.flag-action:hover {
background: url(green-check-mark.png);
background-repeat: no-repeat;
background-position: right top;
padding-right: 17%;

}

.flag-lessons_complete a.unflag-action, .flag-lessons-complete a.unflag-action {
background: url(gray-check-mark.png);
background-repeat: no-repeat;
background-position: right top;
padding-right: 17%;

}
.flag-lessons_complete a.unflag-action:hover, .flag-lessons-complete a.unflag-action:hover {
background: url(gray-check-mark.png);
background-repeat: no-repeat;
background-position: right top;
padding-right: 17%;

}